.pageContainer {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.5em;
  height: 4em;
}

.mobileNavbarItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
}

.profileHeader {
  display: flex;
  margin: 2em;
  justify-content: center;
  gap: 3em;
}

.profileInfos {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.profileInfos h3 {
  font-size: 16px;
  font-weight: 600;
}

.profileInfos p {
  font-size: 14px;
  color: var(--color-dark-grey-1);
}

hr {
  border: 1px solid var(--color-light-grey-2);
  color: var(--color-light-grey-1);
}

.pageContent {
  margin: 1em;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.contentItems {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
}

.contentItems h4 {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark-grey-1);
}

.contentItems h3 {
  font-size: 16px;
  font-weight: 400;
}
