.navbarContainer {
    width: 100vw;
    height: 48px;
    display: flex;
    padding: 20px auto;
}

.navbarItems {
    display: none;
}

.mobileNavbarItems {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: 20px 0;
    gap: 5em;
}

.mobileNavbarBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    gap: 13em;
}
