.pageContainer {
    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    padding: .5em;
    height: 4em;
}

.mobileNavbarItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5em;
    padding: 1em;
}

.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2em;
    font-size: 20px;
    gap: 2em;
    margin-top: 3em;
}

.cartItem {
    display: flex;
    align-items: center;
    gap: .2em;
}

.homeContentHeader {
    margin: 1.2em;
}

.homeCategories {
    background-color: #F3F3F3;
    border-radius: 30 30 0 0;
    margin: 10 0;
    height: 100%;
}

.homeCategories ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: #7f7f7f;
    font-size: 14px;
    height: 100%;
}

.homeProductCard {
    background-color: #FFF;
    border-radius: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    padding: 2em;
    gap: .75em;
    margin: .5em;
}

.homeFeaturedProducts {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: 16px;
}

.link {
    color: #7f7f7f;
}

.homeFeaturedCards {
    display: flex;
    flex-wrap: nowrap;
    padding: 2em;
    gap: 1.5em;
}

.homeProductCard img {
    max-width: 10em;
}

.homeFeaturedCard {
    background-color: #FFF;
    font-size: 16px;
    border-radius: 1em;
    width: fit-content;
    margin-bottom: 5em;
    padding: .5em;
}

.homeFeaturedCard img {
    max-width: 7em;
}

.price {
    font-weight: 700;
    margin-top: .5em;
}