* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	font-family: "DM Sans", serif;
}

#root {
    font-size: x-large;
	background-color: #F6F6F6;
	color: #3A3A3A;
	min-height: 100vh;
}

main {
	max-width: 1280px;
	margin: 0 auto;
	min-height: 100vh;
}

button {
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	width: fit-content;
	background-color: #0ACF83;
    color: #F6F6F6;
	border: none;
	padding: 1em;
	border-radius: 0.5em;
	cursor: pointer;
	font-size: 0.75em;
}

p {
	display: flex;
	gap: .25em;
}