* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'DM Sans', serif;
  box-sizing: border-box;
  list-style-type: none;
}

#root {
  font-size: 16px;
  background-color: #fff;
  color: #3a3a3a;
  --color-green: #0acf83;
  --color-dark-grey-1: #7f7f7f;
  --color-dark-grey-2: #3a3a3a;
  --color-light-grey-1: #f6f6f6;
  --color-light-grey-2: #f3f3f3;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #0acf83;
  color: #f6f6f6;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.75em;
}

p {
  display: flex;
  gap: 0.25em;
}
