.pageContainer {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.5em;
  height: 4em;
}

.mobileNavbarItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.detailsContent img {
  display: flex;
  align-items: center;
  width: 15em;
  padding: .5em;
}

.detailsContent h3 {
  font-size: 20px;
  color: var(--color-green);
  font-weight: 600;
}

.detailsContentText {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

@media (min-width: 768px) {
  .pageContainer {
    height: 100vh;
    max-width: 768px;
    margin: 0 auto;
  }
}
