.pageContainer {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.5em;
  height: 4em;
}

.mobileNavbarItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
}

.prodCategories {
    background-color: var(--color-light-grey-1);
    border-radius: 30 30 0 0;
    margin: 10 0;
    height: 100%;
    width: 100%;
}

.prodCategories ul {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    font-size: 14px;
}

.link {
    color: var(--color-dark-grey-1);
}


.cardContainer {
    display: flex;
    flex-direction: column;
}
