.pageContainer {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.5em;
  height: 4em;
}

.mobileNavbarItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
}

.drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2em;
  font-size: 20px;
  gap: 2em;
  margin-top: 3em;
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.productsCategories {
  background-color: #f3f3f3;
  border-radius: 30 30 0 0;
  margin: 10 0;
  height: 100%;
}

.productsCategories ul {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  color: #7f7f7f;
  font-size: 14px;
}

.productsFeaturedCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  gap: 1.5em;
}

.productsFeaturedCard {
  background-color: #fff;
  font-size: 16px;
  border-radius: 1em;
  width: fit-content;
  margin-bottom: 5em;
  padding: 0.5em;
}

.productsFeaturedCard img {
  max-width: 7em;
}

.price {
  font-weight: 700;
  margin-top: 0.5em;
}
