.pageContainer {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.5em;
  height: 4em;
}

.mobileNavbarItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
}

.prodCategories {
    background-color: var(--color-light-grey-1);
    border-radius: 30 30 0 0;
    margin: 10 0;
    height: 100%;
    width: 100%;
}

.prodCategories ul {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    font-size: 14px;
    color: var(--color-dark-grey-1)
}

.prodCategories ul li {
  padding: 5px 12px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 14px;
}

.prodCategories ul li:hover {
  background-color: #fff;
}

.prodCategories ul li.active {
  background-color: var(--color-green);
  color: #fff;
}


.cardContainer {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  .pageContainer {
    height: 100vh;
    max-width: 768px;
    margin: 0 auto;
  }
}
